<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rmiller.CTA_Commuter_Buddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.rmiller.CTA_Commuter_Buddy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.rmiller.CTA_Commuter_Buddy.StationActivity" />
        <activity android:name="com.example.rmiller.CTA_Commuter_Buddy.StationArrivalDepartActivity" />
        <activity android:name="com.example.rmiller.CTA_Commuter_Buddy.FavoritesListActivity" />
        <activity android:name="com.example.rmiller.CTA_Commuter_Buddy.FavoritesArrivalsActivity">
        </activity>
    </application>
</manifest>